page-login {
    
}
.backgroundstyle{
    background: #0087df;
}

.fieldStyle{
    color : white;
    border-bottom: 1px solid #dedede;
}

.boxPlacement{
    width: 50%;
    float: right;
    margin-right: -7px;
    background-color: white;
    color:#0087df;
}

.logInPlacement{
    font-weight:bold;
    color:white;
    margin-left: 15px;
}
.resetPlacement{
    color: white;
    float: right;
    margin-top: -30px;
}
.bottomScreen {
    color: white !important;
    font-size: 12px !important;
    text-align: center
}
.bottom2Screen{
    color: white !important;
    font-size: 12px !important;
    text-align: center
}
.item-md.item-block .item-inner {
    padding-right: 8px;
    border-bottom: 1px;
}