
.angular-with-newlines {
    white-space: pre-wrap;
    border-style: groove;
    height: 501px;
    padding: 6px;
    font-family: Lucida Sans Unicode;
    border: 14px solid lightgray;
    position: absolute;
    bottom: 0;
    right: 0px;

}
