page-item-detail {}

.item-detail {
  margin-left: 15px;
}

.item-profile {
  width: 100%;
  background-position: center center;
  background-size: cover;
  height: 250px;
  border-bottom: 1px solid #dedede;
}

.itemColor {
  color: #424242;
  text-transform: capitalize;
}

.rightIconDiv {
  margin-left: 10%;
  margin-top: 5px;
}

.rightIcon {
  color: #424242;
  font-size: 40px
}

.quantity {
  color: #424242;
  margin-left: 15px;
}

.leftIconDiv {
  margin-left: 15%;
  margin-top: 5px;
}

.leftIcon {
  color: #424242;
  font-size: 40px
}

.selectQuantityHeading {
  color: #424242;
  margin-left: 15px;
}

.amountRuler {
  color: #424242;
  margin-left: 40px;
}

.itemButtonPosition {
  right: -45%;
  width: 50%;
  margin-right: -20px;
  height: 40px;
}
