page-item-detail {}

.item-detail {
  margin-left: 15px;
}

.item-profile {
  width: 100%;
  background-position: center center;
  background-size: cover;
  height: 200px;
  margin-top: 20px;
}

.rightIconDiv {
  margin-left: 60%;
  margin-top: -30px;
}

.rightIcon {
  color: #488aff;
  font-size: 18px
}

.quantity {
  color: #424242;
  margin-left: 15px;
}

.leftIconDiv {
  margin-left: -37px;
  margin-top: 16px;
}

.leftIcon {
  color: #488aff;
  font-size: 18px
}


.itemButtonPosition {
  right: -45%;
  width: 50%;
  margin-right: -20px;
  height: 40px;
}

.productHeadingBox {
  margin-right: -5px;
  margin-top: 10px;
  border-top: 1px solid #e0e0e0;
}

.priceDescription-details {
  font-size: 12px;
  color: #666;
  border-bottom: 1px solid #e0e0e0;
  height: 25px;
  padding-left: 15px;
  font-weight: 600;
  text-transform: capitalize;
}

.borderRemovalOfDescription {
  font-size: 12px;
  color: #666;
  height: 25px;
  padding-left: 15px;
  font-weight: 600;
}

.positionPriceOfDescription {
  margin-right: 20px;
  float: right;
  color: #666;
  font-weight: 600;
}

.itemNumberPostionDisplay {
  display: inline-block;
  width: 18px;
  height: 18px;
  line-height: 19px;
  padding: 0;
  font-size: 10px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #fa3e3e;
  border-radius: 10px;
  position: absolute;
  margin-top: -10px;
  margin-left: -7px;
}

.cartPostionDisplay {
  margin-right: 10px;
  margin-top: 11px;
}

