<ion-header>
  <ion-navbar>
    <ion-title class="titleStyleAll">My Cart</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-segment [(ngModel)]="shoppingCartSegment" class="segmentDisplay">
    <ion-segment-button value="product" (click)="productSegment()" class="fontdisplay">
      Product
    </ion-segment-button>
    <ion-segment-button value="delivery" disabled={{disableTab}} (click)="deliverySegment()" class="fontdisplay">
      Delivery
    </ion-segment-button>
    <ion-segment-button value="payment" disabled="true" class="fontdisplay">
      Payment
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="shoppingCartSegment">

    <ion-list *ngSwitchCase="'product'" style="display: inline">
      <div class="rectangularBox">
        <p class="orderSummary">Your order summary</p>
      </div>
      <ion-list *ngFor="let item of productDisplay" class="productBoundaries">
        <ion-item>
          <ion-thumbnail item-start>
            <img src="{{item.productPic}}">
          </ion-thumbnail>
          <div>
            <h2 style="margin-bottom: 5px;">{{item.product}}</h2>
            <p style="font-size: 12px;">{{item.description}}</p>
            <p style="font-size: 12px;">Qty : {{item.quantity}} |
              <button ion-button clear class="changeClass" (click)="changeQuantity(item)">Change</button>
            </p>
            <button ion-button clear class="removeClass" (click)="removeItemFromCart(item)">Remove</button>
          </div>
          <p item-end class="individualPrice"> ₹ {{item.rate * item.quantity}}</p>
        </ion-item>
      </ion-list>
      <div class="priceHeadingBox">
        <p class="price-details"> PRICE DETAILS</p>
        <p class="borderRemoval"> Price ({{cartlength}} item)
          <ion-note class="positionPrice"> ₹{{priceDisplay}}</ion-note>
        </p>
        <p class="price-details"> Delivery
          <ion-note class="positionPrice">
            Free
          </ion-note>
        </p>
        <p class="price-details"> Amount Payable
          <ion-note class="positionPrice">
            ₹{{priceDisplay}}
          </ion-note>
        </p>
      </div>
      <div class="authenticate">
        <i class="material-icons">&#xe8e8;</i>
        <p class="shieldTheory">Safe Payments.100% Authentic products</p>
      </div>
    </ion-list>

    <ion-list *ngSwitchCase="'delivery'" style="display: inline">
      <div *ngIf="databaseAddressBox">
        <div class="deliveryBox">
          <p class="deliveryAddresss">Delivery Address</p>
        </div>
        <div>
          <p class="address">{{userName}}</p>
          <p class="address">{{userAddress}}</p>
          <p class="address">{{userPhoneNumber}}</p>
          <div class="boundary">
            <button ion-button clear class="change" (click)="changeAddress()">Change</button>
          </div>
        </div>
      </div>
      <div *ngIf="gpsAddressBox">
        <div class="deliveryBox">
          <p class="deliveryAddresss">Add a new address</p>
        </div>
        <button ion-button clear icon-start class="gpsBox" (click)="seeLOcation()">
          <ion-icon name="locate" style="font-size: 30px;"></ion-icon>
          Use my current location
        </button>
        <div class="boundary">
          <p class="autofill">Tap to auto fill the address fields</p>
        </div>
        <div *ngIf="showLoading">
          <div class="loader"></div>
        </div>
        <ion-list style="margin: 5px;">
          <ion-item class="itemPlacement">
            <ion-label color="primary" floating>City*</ion-label>
            <ion-input value="{{UserCityName}}" [(ngModel)]="UserCityName" style="font-family: sans-serif;"></ion-input>
          </ion-item>
          <ion-item class="itemPlacement">
            <ion-label color="primary" floating>Locality, area or Street*</ion-label>
            <ion-input value="{{UserStreetName}}" [(ngModel)]="UserStreetName" style="font-family: sans-serif;"></ion-input>
          </ion-item>
          <ion-item class="itemPlacement">
            <ion-label color="primary" floating>Flat no. Building name*</ion-label>
            <ion-input style="font-family: sans-serif;" [(ngModel)]="flatNoBuildingNoModel"></ion-input>
          </ion-item>
          <ion-grid style="padding:0;margin-left: -2px;">
            <ion-row>
              <ion-col width-50>
                <ion-item class="itemPlacement" style="border-bottom:none">
                  <ion-label color="primary" floating>Pincode*</ion-label>
                  <ion-input type="number" value="{{UserPinCode}}"  [(ngModel)]="UserPinCode" style="font-family: sans-serif;"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col width-50>
                <ion-item class="itemPlacement" style="border-bottom:none">
                  <ion-label color="primary" floating>State*</ion-label>
                  <ion-input value="{{UserState}}" [(ngModel)]="UserState" style="font-family: sans-serif;"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-item class="itemPlacement">
            <ion-label color="primary" floating>Landmark (Optional)</ion-label>
            <ion-input style="font-family: sans-serif;" [(ngModel)]="landmarkModel"></ion-input>
          </ion-item>
        </ion-list>
      </div>

    </ion-list>
  </div>

</ion-content>
<ion-footer>
  <ion-toolbar *ngIf="showPriceAndContinue">
    <div class="toolbar-background toolbar-background-md" ng-reflect-klass="toolbar-background" ng-reflect-ng-class="toolbar-background-md"
      style="background-color:white;"></div>
    <p class="amountPlacement">₹ {{priceDisplay}}</p>
    <button ion-button color="danger" class="buttonPosition" (click)="continue()">CONTINUE</button>
  </ion-toolbar>
  <ion-toolbar *ngIf="showAddresSaveButton">
    <div class="toolbar-background toolbar-background-md" ng-reflect-klass="toolbar-background" ng-reflect-ng-class="toolbar-background-md"
      style="background-color:white;"></div>
    <button ion-button block style="width: 85%;margin-left: 15px;" (click)="saveAddress()">SAVE</button>
  </ion-toolbar>
</ion-footer>