page-filter-user-order {

}

.FilterOrderDetails{
    font-size: 18px;
    margin-top: 18px;
    font-weight: 500;
    margin-left: 4px;
}


.FilterOrderrectalgleShape{
    width: 296px;
    height: 36px;
    border-radius: -49%;
    font-size: 5px;
    color: #0a0909;
    // line-height: 0px;
    background: #f2f2f3;
    margin-left: -11px;
    margin-top: -17px;
    padding: 5px;
    border: 1px solid #e0e0e0;
}

.FilterOrderTextType{
    font-family: inherit;
    font-weight: 500;
    margin-top: 1px;
    margin-left: 2px;
    font-size: 15px;
}
