page-send-feedback {
  .feedbackLabel {
    color: #424242;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 50px;
  }
  .textArea {
    width: 100%;
    border: 1px solid #a8a8a8a8;
  }
}

