page-otp {

}
.otpBackgroundstyle{
    background: #0087df;
}
.changePasswordPlacement{
    font-weight:bold;
    color:white;
    margin-left: 15px;
}
.newFieldStyle{
    color : white;
    border-bottom: 1px solid #dedede;
}
.newBoxPlacement{
    width: 50%;
    float: right;
    margin-right: -7px;
    background-color: white;
    color:#0087df;
}
.newBackgroundstyle{
    background: #0087df;
    margin-top: 62%;
    text-align: center;
    color: white;
    margin-left: 10px;
}