<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="titleStyleAll">Home</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="goToShopping()" >
        <div style="font-size: 20px;">
          <ion-icon name="cart" class="cartPostion"><p class="itemNumberPostion" *ngIf="addToCartLength">{{addToCartLength}}</p></ion-icon>
        </div>
      </button>
    </ion-buttons>
  </ion-navbar> 

</ion-header>

<ion-content class="card-background-page">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="Pull to refresh" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-slides pager *ngIf="slideData && slideData.length" class="slideImagesSize" autoplay="5000" pager="true" loop="true"
    speed="300">
    <ion-slide *ngFor="let slide of slideData">
      <img src="{{slide.img_path}}" />
    </ion-slide>
  </ion-slides>
  <ion-item class="noteHeading">
    <ion-label style="font-size:11px;color:white;white-space: normal;">{{CurrentlySerivesOffered}}
    </ion-label>
  </ion-item>

  <div class="col col-50">
    <p class="pHeading">SERVICES FOR YOU</p>
    <ion-grid>
      <ion-row style="margin-left: -7px;margin-right: -6px;">
        <ion-col col-6 *ngFor="let showItems of homeItemsDecorations" style="padding:2px">
          <ion-card class="cardStyle" (click)="processRequest(showItems)">
            <img [src]="showItems.img_path" />
            <div class="card-title">{{showItems.service_name}}</div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
