.itemNumberPostion{
  font-size: 14px;
  border-radius: 49%;
  background-color: #ff6161;
  border: solid 0px #fff;
  line-height: 17px;
  width: 29px;
  height: 16px;
  left: 290px;
  bottom: 37px;
  position: absolute;
}

.cartPostion{
  margin-top: 7px;
  font-size: 17px;
  margin-right: 9px;
  
}


.card-background-page {
  ion-card {
    position: relative;
    text-align: center;
  }
  .card-title {
    position: absolute;
    top: 75%;
    font-size: 15px;
    width: 100%;
    color: #fff;
    font-weight: bold;
  }
  .cardStyle {
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
    max-height: 100px;
  }
  .pHeading {
    color: #999;
    font-size: 11px;
    margin-left: 5px;
    margin-bottom: 0px;
    font-family: sans-serif;
    margin-top: 2px;
  }
  .noteHeading {
    background-color: black;
    width: 96.5%;
    margin-left: 5px;
  }
  .slideImagesSize{
    width: 308px;
    height: 223px;
  }

  .swiper-pagination-bullet-active {
    background: white;
  }
  
  .swiper-pagination {
    bottom: 1% !important;
  }

}