page-settings {

}
.toolbarImage {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left : 15px;
  margin-top : 7px;
}

.showTitle{
  margin-left: 75px;
  text-align:left;
  margin-top:-43px;
  margin-bottom: 19px;
}
