@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

.catergory {
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-family: cursive;
}

.listStyle {
  border-bottom: 1px solid #d2d2d2;
  height: 1px;
  font-size: 13px;
  color: #fff;
  background-color:#488aff;
}

.versionPosition {
    position: absolute;
    font-size: 13px;
    color: #fff;
    bottom: 0;
    margin-left: 26%;
}

.wholebackground{
  background-color:#488aff;
}
.toolbar-background-md {
  border-color: #b2b2b2;
  background: #f8f8f8;
  background-color: #488aff;
}
.toolbar-title-md {
  padding: 0 12px;
  font-size: 2rem;
  font-weight: 500;
  color: white;
}
.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
  color: white;
  background-color: transparent;
}