.backColor {
  background-color: white !important;
  font-family: 'Raleway';
}

.tutorialIcon {
  margin-top: 40%;
  font-size: 7em;
}

.height2 {
  font-weight: bold;
  font-size: 1em;
}

.print {
  width: 80%;
  margin: 0 auto;
  font-size: .9em;
}

.swiper-pagination-bullet-active {
  background: #488aff;
}

.swiper-pagination {
  bottom: 1% !important;
}

.CreateAnAccountPlacement {
  width: 80%;
  display: block;
  margin: 0 auto;
  font-size: .9em;
}

.bottom_11_Screen {
  color: #488aff !important;
  text-align: center;
  margin: auto !important;
  font-weight: bold;
}

.bottom_22_Screen {
  color: #488aff !important;
  text-align: center;
  margin: auto !important;
  font-weight: bold;
}

