page-contact-us {
  .heading {
    font-weight: bold;
    margin-top: 10% !important;
    margin-left: 5%;
  }
  .textSize {
    height: 60px;
  }
  .subHeading {
    color: #a8a8a8;
    font-size: 12px;
    margin-left: 5%;
  }
}

