page-contact-us {
  .heading {
    font-weight: bold;
    color : #30426a;
  }
  .textSize {
    height: 60px;
  }
  .subHeading {
    font-size: 13px;
    font-weight: bold;
    margin-top: 30px;
    letter-spacing: 0.5px;
  }

  .subhead{
    font-family: sans-serif,Helvetica,Arial;
    font-size: 1.5rem !important;
    font-weight: bold;
  }
}

