<ion-header>
</ion-header>

<ion-content class="backgroundColorStyle">

  <form *ngIf="showForgotPage === 0">
    <h2 class="forgotPlacement">Forgot Password?</h2>
    <ion-item class="backgroundColorStyle">
      <ion-label stacked style="color:white;margin-bottom: 8px;margin-top: 35px;">Enter your email address</ion-label>
      <ion-input type="text" class="inputStyle" [(ngModel)]="forgotEmail" [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>
    <div padding>
      <button ion-button color="primary" class="resetBoxPlacement" block (click)="forgotPassword()">RESET PASSWORD</button>
    </div>
  </form>

  <form (ngSubmit)="otpSubmit()" *ngIf="showForgotPage === 1">
    <h2 class="forgotPlacement">Get the OTP !</h2>
    <p class="noteDisplay">Note : One time password has been sent to email address : {{forgotEmail}}. Use it to create your new password </p>
    <ion-item class="backgroundColorStyle">
      <ion-label stacked style="color:white;margin-bottom: 8px;margin-top: 35px;">Enter the OTP</ion-label>
      <ion-input type="number" class="inputStyle" [(ngModel)]="otp" [ngModelOptions]="{standalone: true}" maxlength="4"></ion-input>
    </ion-item>
    <div padding>
      <button ion-button color="primary" class="resetBoxPlacement" block> SUBMIT OTP</button>
    </div>
  </form>

  <form (ngSubmit)="changePassword()" *ngIf="showForgotPage === 2">
    <h2 class="changePasswordPlacement">Change Password !</h2>
    <ion-item class="otpBackgroundstyle">
      <ion-label stacked style="color:white;">Enter your new password</ion-label>
      <ion-input type="password" class="newFieldStyle" [(ngModel)]="newPassword" [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>
    <ion-item class="otpBackgroundstyle" style="padding-bottom: 40px;padding-top: 35px;">
      <ion-label stacked style="color:white">Re-type your new password</ion-label>
      <ion-input type="password" class="newFieldStyle" [(ngModel)]="reNewPassword" [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>
    <div padding>
      <button ion-button color="primary" class="newBoxPlacement" block>CHANGE PASSWORD</button>
    </div>
    <div class="newBackgroundstyle">
      <p>Once your password is successfully changed, you will be redirected to Login page</p>
    </div>
  </form>

</ion-content>
