page-forgto-password {}

.forgotPlacement {
  font-weight: bold;
  color: white;
  margin-left: 15px;
}

.backgroundColorStyle {
  background: #488aff;
}

.inputStyle {
  color: white;
  border-bottom: 1px solid #dedede;
}

.resetBoxPlacement {
  width: 50%;
  float: right;
  margin-right: -7px;
  background-color: white;
  color: #488aff;
  margin-top: 45px
}

.noteDisplay {
  color: white;
  text-align: center;
  margin-left: 7%;
  margin-top: 10%;
}

.otpBackgroundstyle {
  background: #488aff;
}

.changePasswordPlacement {
  font-weight: bold;
  color: white;
  margin-left: 15px;
}

.newFieldStyle {
  color: white;
  border-bottom: 1px solid #dedede;
}

.newBoxPlacement {
  width: 60% !important;
  float: right;
  margin-right: -7px;
  background-color: white;
  color: #488aff;
}

.newBackgroundstyle {
  background: #488aff;
  margin-top: 62%;
  text-align: center;
  color: white;
  margin-left: 10px;
}

.eyeNewPosition {
  color: white;
  margin-bottom: -5px !important;
  border-bottom: 1px solid;
  padding: 11px;
}

