page-forgto-password {

}

.forgotPlacement{
    font-weight:bold;
    color:white;
    margin-left: 15px;
}

.backgroundColorStyle{
    background: #0087df;
}
.inputStyle{
    color : white;
    border-bottom: 1px solid #dedede;
}
.resetBoxPlacement{
    width: 50%;
    float: right;
    margin-right: -7px;
    background-color: white;
    color:#0087df;
    margin-top: 45px
}

.noteDisplay{
    color: white;
    text-align: center;
    margin-left: 7%;
    margin-top: 10%;
}