page-list-master {}


.cardTitle {
  font-size: 14px;
  line-height: 0;
  margin: 0px;
  padding: 5px;
}



.printText {
  font-size: 12px !important;
  font-weight: normal !important;
  margin-bottom: -7px !important;
  margin-top: 3px !important;
  text-align: center !important;
}

.showDatabaseFailure{
  margin: auto;
  font-size: 17px;
  font-family: sans-serif;
  color: #999;
  text-align: center;
}


.WithoutSearchionColProperty {
 
  border: 1px solid #dbd1d1;
  text-align: center;
  border-right: 0;
  border-bottom: 0;
  height: 124px;
  margin-left: -1px;
  margin-top: -1px;
  margin-left: 0px;
}

.WithSearchionColProperty{
  border: 1px solid #dbd1d1;
  text-align: center;
  border-right: 0;
  height: 124px;
  
}
