page-signup {
  
}
.backgroundstyle1{
    background: #0087df;
}

.fieldStyle1{
    color : white;
    border-bottom: 1px solid #dedede;
}

.boxPlacement1{
    width: 50%;
    float: right;
    margin-right: -7px;
    background-color: white;
    color:#0087df;
}

.logInPlacement1{
    font-weight:bold;
    color:white;
    margin-left: 15px;
}
