page-individual-order-of-user {}

.OrderDetails {
  text-align: center;
  margin-top: -8px;
  font-weight: 600;
  color: #488aff;
  text-align: center;
  height: 4.2rem;
  line-height: 5rem;
}

.descriptionShape {
  margin-right: -20px;
  margin-left: -20px;
  margin-top: 10px;
}

.imgPosyioning {
  width: 80px;
  height: 80px;
  padding-left: 15px;
}

.itemDetailPostioningWithImage {
  margin-top: -28%;
  margin-left: 35%;
}

.orderBoxShape {
  background-color: whitesmoke;
  margin-right: -20px;
  margin-left: -20px;
  height: 35px;
  border: 1px solid #e0e0e0;
  margin-bottom: 10px;
}

.order-details {
  font-size: 13px;
  color: #666;
  border-bottom: 1px solid #e0e0e0;
  height: 25px;
  padding-left: 15px;
  font-weight: 600;
}

.orderHeadingBox {
  margin-right: -18px;
  margin-left: -18px;
  margin-top: 10px;
}

.orderBorderRemoval {
  font-size: 13px;
  color: #666;
  height: 25px;
  padding-left: 15px;
  font-weight: 600;
}

.orderPositionPrice {
  margin-right: 20px;
  float: right;
  color: #666;
  font-weight: 600;
}

.deliveryStatus {
  font-size: 15px;
  font-weight: bold;
  color: #666;
  padding-left: 15px;
}

.orderdeliverDate {
  color: #666;
  font-weight: 500;
  padding-left: 15px;
}

.individualPricePerItem {
  margin-left: 75%;
  margin-top: -28%;
  margin-bottom: 25%;
  color: #666;
  font-weight: 500;
  font-size: 16px;
}

.individualChats {
  color: #666;
  font-weight: 500;
  margin-top: -10px;
  margin-left: 2px;
}

.buttonProperty {
  margin-left: -20px;
  width: 120%;
}

.deliveredImage {
  position: absolute;
  right: -3%;
  bottom: 40%;
  width: 60%;
}
