page-individual-order-of-user {

}
.rectalgleShape{
    // width: 296px;
    width: 145%;
    height: 139px;
    border-radius: -49%;
    font-size: 15px;
    color: #0a0909;
    line-height: 0px;
    /* text-align: center; */
    background: #f2f2f3;
    margin-left: -16px;
    margin-top: -17px;
    padding: 5px;
    border: 1px solid #e0e0e0;
}
.OrderDetails{
    font-size: 22px;
    margin-top: -4px;
    font-weight: bold;
    margin-left: -12px;
}

.itemDetailsPostioning{
    margin-left: 114px;
    margin-top: -19px;
    padding: 3px;
}
.ShipmentDetails{
    font-size: 19px;
    margin-top: 7px;
    font-weight: bold;
    margin-left: -12px;
}

.rectalgleShapeForDetailsOrderDescription{
    width: 145%;
    // width: 296px;
    height: 169px;
    border-radius: -49%;
    font-size: 15px;
    color: #0a0909;
    line-height: 0px;
    /* text-align: center; */
    background: #f2f2f3;
    margin-left: -16px;
    margin-top: -17px;
    padding: 5px;
    border: 1px solid #e0e0e0;
}
.imgPosyioning{
    width: 81px;
    height: 83px;
}

.itemDetailPostioningWithImage{
    margin-top: -94px;
    margin-left: 95px;
}

.orderAndReceicedData{
    background: #f2f2f3;
}
.arrow{
    margin-left: 270px;
    margin-top: -16px;
    font-size: 25px;
}